# Python
venv/
*.pyc
__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Environment files
.env
.env.*

# Logs
*.log

# Node/React (frontend)
frontend/node_modules/
